.navigation{
    display: inline;
}

.list{
    list-style-type: none;
    background-color: #545353;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
   .list li{
    display: inline;
}

   .list li a {
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    width: 200px;
    height: auto;
    transition: background-color 0.3s ease;
   }
   
   .list a:hover {
    background-color: #262626;
   }
   
   .ddown {
    display: none;
    position: absolute;
    background-color: #545353;
   }

   .proj:hover .ddown{
    display: block;
    
   }

   #hamburger{
    display: none;
   }

   @media only screen and (max-width: 640px){
    #hamburger {
        display: inline;
   }
   .list{
    display: none;
    
   }
   nav:hover.list{
    display: block;
   }

   .proj:hover{
    display: none;
   }
   }

 