.level1{color:#304f39;}

.a {
    padding: 50px;
    width: 1000px;
    padding-top: 5px;
    text-indent: 50px;
}
.a p::first-letter{
    color: rgb(95, 143, 95);
}

h1 {
    text-align: center;
}
footer{
    text-align: center;
}

.container{
    padding: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;

}

.resLink{ 

    width: 300px;
    height: 50px;
    padding: 10px;
    border: medium solid #304f39; 
    margin: 30px;
    background-color: lightslategray;
}

.leftSide{
    background-color: #f0f0f0;
    grid-column: 1;
}
 .rightSide{
    background-color: #e0e0e0;
    grid-column: 2;
}
